.nav-wrapper {
  background-color: white;
  color: black;
}

.nav-wrapper ul li {
  -webkit-animation: heroText 1s forwards 0s ease;
  animation: heroText 1s forwards 0s ease;
  opacity: 0;
}

.logo {
  height: 64px;
  width: auto;
}
.full-height {
  display: flex;
  min-height: fit-content;
}
@-webkit-keyframes heroText {
  0% {
    -webkit-transform: rotate(0) translateY(-100px) skewY(0);
    transform: rotate(0) translateY(-100px) skewY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0px);
    transform: rotate(0) translateY(0px);
    opacity: 1;
  }
}

@keyframes heroText {
  0% {
    -webkit-transform: rotate(0) translateY(-100px) skewY(0);
    transform: rotate(0) translateY(-100px) skewY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0px);
    transform: rotate(0) translateY(0px);
    opacity: 1;
  }
}

div.col.s12.m6 {
  height: 100%;
  min-height: 500px;
}

img {
  width: 100%;
  height: 300px;
}

.header-content {
  overflow: hidden;
  position: relative;
}

.header-content h1 {
  color: #0078ff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.header-content img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  display: block;
}

.card {
  background-color: #0078ff;
}

.slider .slides li img {
  filter: brightness(50%);
}

.slider .slides li .caption {
  color: #0078ff;
}

.slider .slides li .slide-text {
  color: #0078ff;
}
