.nav-wrapper {
  background-color: white;
  color: black;
}

.nav-wrapper ul li {
  -webkit-animation: heroText 1s forwards 0s ease;
  animation: heroText 1s forwards 0s ease;
  opacity: 0;
}

.logo {
  height: 64px;
  width: auto;
}
.full-height {
  display: flex;
  min-height: fit-content;
}

.hero {
  background-image: linear-gradient(
      rgba(137, 199, 244, 0.2),
      rgba(255, 255, 255, 0)
    ),
    url(../images/samplegates.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.hero div {
  margin-left: ;
  margin-bottom: 10%;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  -webkit-animation: heroText 1s forwards 0.5s ease;
  animation: heroText 1s forwards 0.5s ease;
  opacity: 0;
}
@-webkit-keyframes heroText {
  0% {
    -webkit-transform: rotate(0) translateY(-100px) skewY(0);
    transform: rotate(0) translateY(-100px) skewY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0px);
    transform: rotate(0) translateY(0px);
    opacity: 1;
  }
}

@keyframes heroText {
  0% {
    -webkit-transform: rotate(0) translateY(-100px) skewY(0);
    transform: rotate(0) translateY(-100px) skewY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0px);
    transform: rotate(0) translateY(0px);
    opacity: 1;
  }
}

.mission {
  margin: 100px auto;
  max-width: 1024px;
  font-size: 1rem;
  clear: both;
  display: block;
  height: 30vh;
}

.mission-img {
  max-width: 40%;
  float: right;
}

.mission img {
  width: 100%;
}

.mission-text {
  width: 50%;
  float: left;
  font-size: 1.25rem;
}

.collapsible {
  width: 60%;
  margin-left: 20%;
}

.collapsible-header {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b53df),
    to(#89c7f4)
  );
  background-image: linear-gradient(90deg, #3867d6, #45aaf2);
  cursor: pointer;
  padding: 20px;
  width: 100%;
  color: white;
  text-align: left;
  outline: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 1.5rem;
  border: 1px solid #89c7f4;
}
